{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ request.user.username }} is Following...</h1>
    <br/>

    {% if profiles %}
        {% for profile in profiles.follows.all %}

                          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">

                {% if profile.profile_image %}
                  <img src="{{ profile.profile_image.url }}" width="150" height="150" class="img-fluid rounded-start" alt="{{ profile.user.username }}">

                {% else %}
                  <img src="{% static 'images/default_profile.jpg' %}" width="150" height="150" class="img-fluid rounded-start" alt="...">
                
                {% endif %}

              </div>
              <div class="col-md-8">
              0  <div class="card-body">
                  <h5 class="card-title">{{ profile.user.username }}
                    
                    {% if profile in profile.follows.all %}
                    <a href="{% url 'unfollow' profile.user.id %}">
                        <img src="{% static 'images/unfollow.png' %}" height="20" width="20" srcset="">
                      </a>
                    {% else %}
                    <a href="{% url 'follow' profile.user.id %}">
                        <img src="{% static 'images/seguir.png' %}" height="20" width="20" srcset="">
                      </a>
                    {% endif %}
                  
                  </h5>
                  <p class="card-text"><a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}<a/></p><br/>
                  <p class="card-text"><small class="text-body-secondary">Last Updated: {{ profile.date_modified }}</small></p>
                </div>
              </div>
            </div>
          </div>
          
          <br/><br/>


        {% endfor %}
    {% endif %}
{% endblock %}